.main .wrapper {
  min-height: calc(100vh - 135px);
  padding: 38px 40px 0 40px; }

.main .logop {
  padding: 10px 0;
  width: 150px; }

.main .navbar {
  margin-bottom: 0; }
.footer {
  background: #283645;
  color: #fff;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }
  .footer p {
    font-weight: 300;
    margin-top: 15px; }
/* General Styles */
* {
  margin: 0; }

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

p, a, span {
  font-weight: 100; }

a {
  font-weight: 300; }

/* Component Styles */
.login {
  text-align: center; }
  .login .logo img {
    display: block;
    margin: 10px auto;
    width: 100px; }
.home .grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .home .grid .card {
    background: linear-gradient(#f2f2f2 20%, #fff 80%);
    border-radius: .2em;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.2);
    height: 200px;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 5% 0;
    position: relative;
    text-align: center;
    width: 24%; }
    .home .grid .card img {
      width: 50%; }
      @media (min-width: 1024px) {
        .home .grid .card img {
          width: 30%; } }
    @media (max-width: 520px) {
      .home .grid .card {
        width: 49%; } }
    @media (min-width: 1024px) {
      .home .grid .card {
        width: 19%; } }
.applications .home .grid {
  margin-top: 20px; }
  .applications .home .grid .card span.date {
    display: block;
    font-size: .9rem;
    font-style: italic;
    margin-top: 5px;
    position: relative; }
  .applications .home .grid .card .award {
    bottom: 5px;
    position: absolute;
    right: 5px;
    width: 20%; }
